@model UniRate.Models.DepResultsModel


<!-- Stylesheet connection for Search page -->
@section Styles {
    <link rel="stylesheet" href="~/css/DepResultsStyle.css" />
    <link rel="stylesheet" href="~/css/NavbarStyle.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
}

    <body>
        <div class="hero">
            <img src="@Model.Department.university.BackroundPhotoUrl" class="back-image">
        @{
            bool logged_in = ViewBag.LoggedIn; // Set this variable to true if user is logged in, if else set it to false
            bool is_favorite_dep = ViewBag.IsFavoriteDep; // Set this variable to true if user has this department favorited

            // For every department these values will be retrieved from the DB
            int difficulty = Model.ReviewsAggregate.DifficultyRating;
            int teachers = Model.ReviewsAggregate.ProfessorsRating;
            int classes = Model.ReviewsAggregate.SubjectsRating;
            int updated_study = Model.ReviewsAggregate.FreshnessRating;
            int dep_organizaton = Model.ReviewsAggregate.OrganisationRating;

            double stars = Model.ReviewsAggregate.OverallRating;
        }
        <nav class="navbar" id="navbar">
            <h2 class="logo"><img src="@Url.Content("~/visual-material/uniRateLogo.png")" class="icon-logo"> Uni<span>Rate</span></h2>
            <ul class="navbar-links">
                <li><a asp-controller="Home" asp-action="HomePage">Αρχική</a></li>
                <li><a asp-controller="Home" asp-action="Unies">Πανεπιστήμια</a></li>
                <li><a asp-controller="Home" asp-action="TopRated">Top Rated</a></li>
                @if (logged_in)
                {
                    <li><a asp-controller="RegisteredUsers" asp-action="Favorites">Αγαπημένα</a></li>
                }
                else
                {
                    <li><a asp-controller="Home" asp-action="Login">Αγαπημένα</a></li>
                }
                <li><a asp-controller="Home" asp-action="Help">Βοήθεια</a></li>
                @if (logged_in)
                {
                    <li><a asp-controller="RegisteredUsers" asp-action="AccountInfo">Ο Λογαριασμός μου</a></li>
                }
                else
                {
                    <li><a asp-controller="Home" asp-action="Login">Ο Λογαριασμός μου</a></li>
                }
            </ul>


            @if (logged_in)
            {
                <a asp-controller="Home" asp-action="Logout" class="btn">Έξοδος</a>
            }
            else
            {
                <a asp-controller="Home" asp-action="Login" class="btn">Είσοδος</a>
            }
            <div class="toggle-btn">
                <i class="fa fa-bars"></i>
            </div>
        </nav>


        <div class="dropdown-menu">
            <li><a asp-controller="Home" asp-action="HomePage">Αρχική</a></li>
            <li><a asp-controller="Home" asp-action="Unies">Πανεπιστήμια</a></li>
            <li><a asp-controller="Home" asp-action="TopRated">Top Rated</a></li>
            @if (logged_in)
            {
                <li><a asp-controller="RegisteredUsers" asp-action="Favorites">Αγαπημένα</a></li>
            }
            else
            {
                <li><a asp-controller="Home" asp-action="Login">Αγαπημένα</a></li>
            }
            <li><a asp-controller="Home" asp-action="Help">Βοήθεια</a></li>
            @if (logged_in)
            {
                <li><a asp-controller="RegisteredUsers" asp-action="AccountInfo">Ο Λογαριασμός μου</a></li>
                <li><a asp-controller="Home" asp-action="Logout" class="btn">Έξοδος</a></li>
            }
            else
            {
                <li><a asp-controller="Home" asp-action="Login">O Λογαριασμός μου</a></li>
                <li><a asp-controller="Home" asp-action="Login" class="btn">Είσοδος</a></li>
            }
        </div>

            <script>
                // Change navbar color on scroll
                function changeBg() {
                    let navbar = document.getElementById('navbar');
                    let scrollValue = window.scrollY;

                    if (scrollValue < 150) {
                        navbar.classList.remove('bgColor');
                    }
                    else {
                        navbar.classList.add('bgColor');
                    }
                }

                window.addEventListener('scroll', changeBg);

                // Dropdown menu handling (responsive design)
                const toggleBtn = document.querySelector('.toggle-btn');
                const toggleBtnIcon = document.querySelector('.toggle-btn i');
                const dropdownMenu = document.querySelector('.dropdown-menu');

                toggleBtn.onclick = function () {
                    dropdownMenu.classList.toggle('open');
                    const isOpen = dropdownMenu.classList.contains('open');

                    toggleBtnIcon.classList = isOpen
                        ? 'fa fa-close'
                        : 'fa fa-bars';
                }
            </script>



            <div class="content">
                <h1>@Model.Department.Name</h1>
                <h2>@Model.Department.university.Name</h2>
                @if (logged_in)
                {
                    if (is_favorite_dep) // Make heart blue
                    {
                    <a a asp-controller="RegisteredUsers" asp-action="RemoveFavoriteDep" asp-route-Id="@Model.Department.Id">
                        <i id="heart-icon" class="fa fa-heart" style="color: #11668D;"></i>
                    </a>
                    }
                    else // Heart is grey
                    {
                    <a a asp-controller="RegisteredUsers" asp-action="AddFavoriteDep" asp-route-Id="@Model.Department.Id">
                        <i id="heart-icon" class="fa fa-heart" style="color: grey;"></i>
                    </a>
                    }

                }
            </div>
        </div>

            
        <div class="uni-basics">

            <div class="uni-info">
                <div class="title">
                    <h2>@Model.Department.Name</h2>
                    <h3 class="subtitle">@Model.Department.university.Name</h3>
                </div>
                <div class="info-section">
                    <h3 class="first">Βάση Εισαγωγής:</h3>
                    <h3 class="second">@Model.Department.EntranceGrade</h3>
                </div>
                <div class="info-section">
                    <h3 class="first">Διάρκεια Φοίτησης:</h3>
                    <h3 class="second">@Model.Department.StudyDuration</h3>
                </div>
                <div class="info-section">
                    <h3 class="first">Κατευθύνσεις:</h3>
                    <h3 class="second">@Model.Department.Directions</h3>
                </div>
                <div class="info-section">
                    <h3 class="first">Αριθμός Μαθημάτων:</h3>
                    <h3 class="second">@Model.Department.SubjectCount</h3>
                </div>
                <div class="info-section">
                    <h3 class="first">Ιστοσελίδα:</h3>
                <h3 class="second">Πατήστε <a href=@Model.Department.SiteUrl>εδώ</a></h3>
                </div>

            </div>

            <div class="uni-rankings">
                
                    <div class="title">
                <h2>@stars <i class="fa fa-star" style="color: #11668D;"></i> - @Model.Department.Ratings.Count αξιολογήσεις</h2>
                        <div class="total-stars">
                    @{
                        for (int i = 1; i <= 5; i++)
                        {
                            if (i <= stars)
                            {
                                <i class="fa fa-star" style="color: #11668D;"></i>
                            }
                            else
                            {
                                <i class="fa fa-star" style="color: grey;"></i>
                            }
                        }
                    }
                        </div>

                    </div>

                    <div class="rankings-content">
                        <div class="rc-inside">
                            <div class="rank">
                                <h3 class="">Δυσκολία</h3>
                                <div class="stars">
                            @{
                                for (int i = 1; i <= 5; i++)
                                {
                                    if (i <= difficulty)
                                    {
                                        <i class="fa fa-star" style="color: #11668D;"></i>
                                    }
                                    else
                                    {
                                        <i class="fa fa-star" style="color: grey;"></i>
                                    }
                                }
                            }
                                </div>
                            </div>

                            <div class="rank">
                                <h3>Καθηγητές</h3>
                                <div class="stars">
                            @{
                                for (int i = 1; i <= 5; i++)
                                {
                                    if (i <= teachers)
                                    {
                                        <i class="fa fa-star" style="color: #11668D;"></i>
                                    }
                                    else
                                    {
                                        <i class="fa fa-star" style="color: grey;"></i>
                                    }
                                }
                            }
                                </div>
                            </div>

                            <div class="rank">
                                <h3>Μαθήματα</h3>
                                <div class="stars">
                            @{
                                for (int i = 1; i <= 5; i++)
                                {
                                    if (i <= classes)
                                    {
                                        <i class="fa fa-star" style="color: #11668D;"></i>
                                    }
                                    else
                                    {
                                        <i class="fa fa-star" style="color: grey;"></i>
                                    }
                                }
                            }
                                </div>
                            </div>

                            <div class="rank">
                                <h3>Επικαιρότητα Σπουδών</h3>
                                <div class="stars">
                            @{
                                for (int i = 1; i <= 5; i++)
                                {
                                    if (i <= updated_study)
                                    {
                                        <i class="fa fa-star" style="color: #11668D;"></i>
                                    }
                                    else
                                    {
                                        <i class="fa fa-star" style="color: grey;"></i>
                                    }
                                }
                            }
                                </div>
                            </div>

                            <div class="rank last">
                                <h3>Οργάνωση</h3>
                                <div class="stars">
                            @{
                                for (int i = 1; i <= 5; i++)
                                {
                                    if (i <= dep_organizaton)
                                    {
                                        <i class="fa fa-star" style="color: #11668D;"></i>
                                    }
                                    else
                                    {
                                        <i class="fa fa-star" style="color: grey;"></i>
                                    }
                                }
                            }
                        </div>
                    </div>
                </div>
            </div>


        </div>

    </div>


    <div class="uni-basics-more">

        <div class="uni-deps">
            <div class="title">
                <h2>Πρόγραμμα Σπουδών</h2>
            </div>

            <div class="classes">
            @foreach(var semester in Model.SubjectsBySemester)
            {
                <div class="title">
                    <h3>@semester.Key</h3>
                </div>
                @foreach(var subject in semester)
                {
                    <div class="deps-section course">
                        <h3>@subject.Title</h3>
                        <ul class="deps-names">
                            <li>Καθηγητής: @subject.Professor.Name</li>
                            <li>Τύπος Μαθήματος: @subject.Type</li>
                            <li>Ώρες Διδασκαλίας: @subject.Hours</li>
                            <li>Οδηγός Σπουδών: Πατήστε <a href="@subject.SubjectUrl">εδώ</a></li>
                        </ul>
                    </div>
                }
                <hr>
            }
            </div>
        </div>

        <div class="uni-map">
            <div class="title">
                <h2>Καθηγητές</h2>
            </div>
            <div class="teachers">
            @foreach(var teacher in Model.Department.Professors)
            {
                    <div class="teacher-section course">
                        <div class="teacher-name">
                            <h3 class="nm">@teacher.Name</h3>
                            <p>@teacher.Level</p>
                        </div>

                        <ul class="teacher-info">
                            <li>
                                <div class="info">
                                    <a><i class="fa fa-building"></i></a>
                                    <div><p>@teacher.Office</p></div>
                                </div>
                            </li>
                            <li>
                                <div class="info">
                                    <a><i class="fa fa-phone"></i></a>
                                    <div><p>@teacher.Phone</p></div>
                                </div>
                            </li>
                            <li>
                                <div class="info">
                                    <a><i class="fa fa-envelope"></i></a>
                                    <div><p><a href="mailto:@teacher.Email">@teacher.Email</a></p></div>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <hr>
            }
            </div>
        </div>
    </div>

    <div class="reviews">

        <div class="reviews-cont">
            <div class="title">
                <h2>Κριτικές</h2>
            </div>

            <div class="rev">
                @foreach(var review in Model.Department.Ratings)
                {
                <div class="scroll">
                    <div class="who">
                        <a><i class="fa fa-user"></i></a>
                        <div>
                            <h3>@review.user.UserName</h3>
                            <p>@review.DateTime</p>
                            <p>
                                @{
                                    int userStars = Convert.ToInt32(review.OverallRating); // Edw tha einai o arithmos asteriwn tou kathe user - int tha einai kai o M0 twn ratings pou exei kanei
                                    for (int i = 1; i <= 5; i++)
                                    {
                                        if (i <= userStars)
                                        {
                                            <i class="fa fa-star" style="color: #11668D;"></i>
                                        }
                                        else
                                        {
                                            <i class="fa fa-star" style="color: grey;"></i>
                                        }
                                    }
                                }
                            </p>
                            </div>
                        </div>
                        <div class="txt">
                            <p>@review.Review</p>
                        </div>
                    </div>
                    <hr>  
                }
                </div>

            @if (logged_in)
            {
                <form asp-action="AddDepReview" asp-controller="RegisteredUsers" asp-route-Id="@Model.Department.Id" method="get">
                    <div class="add-rev"><button type="submit" class="add-rev-btn"><i class="fa fa-plus"></i></button></div>
                </form>
            }
            else
            {
                <form asp-action="Login" method="get">
                    <div class="add-rev"><button class="add-rev-btn"><i class="fa fa-plus"></i></button></div>
                </form>
            }

                

            </div>

            <div class="contact">
                <div class="title">
                    <h2>Γραμματεία Φοιτητών</h2>
                </div>

                <div class="contact-section">
                    <h4>Τηλέφωνο:</h4>
                    <p>@Model.Department.Phone</p>
                </div>
                <div class="contact-section">
                    <h4>Διεύθυνση:</h4>
                    <p>@Model.Department.Address</p>
                </div>
                <div class="contact-section">
                    <h4>Email:</h4>
                    <p><a href="mailto:@Model.Department.Email">@Model.Department.Email</a></p>
                </div>
                <iframe src="@Model.Department.LocationUrl"
                    width="100%"
                    height="50%"
                    style="border:0; border-radius: 25px;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade">
                </iframe>
            </div>

        </div>




        <footer>
            <p><i class="fa fa-copyright"></i>   Uni<span>Rate</span></p>
            <p>
                Το UniRate είναι μια διαδικτυακή εφαρμογή που αναπτύχθηκε απο τους φοιτητές του Πανεπιστημίου
                Πειραιώς και πρόκειται για ένα χώρο αναζήτησης και διαμοιρασμού πληροφοριών για τα ελληνικά πανεπιστήμια και τμήματα.
                Είναι δηλαδή μια εφαρμογή απο φοιτητές προς υποψήφιους φοιτητές! Επιπλέον, η γνώμη σου είναι σημαντική για εμάς, οπότε
                μπορείς πάντα να μας βρείς στο GitHub ή να μας στείλεις mail:
            </p>
            <div class="social">
                <a href="https://github.com/aboublini"><i class="fa fa-github"></i></a>
                <a href="https://github.com/marata13"><i class="fa fa-github"></i></a>
                <a href="mailto:aboublini@gmail.com"><i class="fa fa-envelope"></i></a>
                <a href="mailto:ioakeim13@hotmail.gr"><i class="fa fa-envelope"></i></a>
            </div>
            <p class="end"><i class="fa fa-copyright"></i> 2023 All Right Reserved</p>
        </footer>
    </body>