@model TopRatedModel

<!-- Stylesheet connection for Search page -->
@section Styles {
    <link rel="stylesheet" href="~/css/TopRatedStyle.css" />
    <link rel="stylesheet" href="~/css/NavbarStyle.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
}

    <body>
        <div class="hero">
        @{
            bool logged_in = ViewBag.LoggedIn; // Set this variable to true if user is logged in, if else set it to false
        }
        <nav class="navbar" id="navbar">
            <h2 class="logo"><img src="@Url.Content("~/visual-material/uniRateLogo.png")" class="icon-logo"> Uni<span>Rate</span></h2>
            <ul class="navbar-links">
                <li><a asp-controller="Home" asp-action="HomePage">Αρχική</a></li>
                <li><a asp-controller="Home" asp-action="Unies">Πανεπιστήμια</a></li>
                <li><a asp-controller="Home" asp-action="TopRated">Top Rated</a></li>
                @if (logged_in)
                {
                    <li><a asp-controller="RegisteredUsers" asp-action="Favorites">Αγαπημένα</a></li>
                }
                else
                {
                    <li><a asp-controller="Home" asp-action="Login">Αγαπημένα</a></li>
                }
                <li><a asp-controller="Home" asp-action="Help">Βοήθεια</a></li>
                @if (logged_in)
                {
                    <li><a asp-controller="RegisteredUsers" asp-action="AccountInfo">Ο Λογαριασμός μου</a></li>
                }
                else
                {
                    <li><a asp-controller="Home" asp-action="Login">Ο Λογαριασμός μου</a></li>
                }
            </ul>


            @if (logged_in)
            {
                <a asp-controller="Home" asp-action="Logout" class="btn">Έξοδος</a>
            }
            else
            {
                <a asp-controller="Home" asp-action="Login" class="btn">Είσοδος</a>
            }
            <div class="toggle-btn">
                <i class="fa fa-bars"></i>
            </div>
        </nav>


        <div class="dropdown-menu">
            <li><a asp-controller="Home" asp-action="HomePage">Αρχική</a></li>
            <li><a asp-controller="Home" asp-action="Unies">Πανεπιστήμια</a></li>
            <li><a asp-controller="Home" asp-action="TopRated">Top Rated</a></li>
            @if (logged_in)
            {
                <li><a asp-controller="RegisteredUsers" asp-action="Favorites">Αγαπημένα</a></li>
            }
            else
            {
                <li><a asp-controller="Home" asp-action="Login">Αγαπημένα</a></li>
            }
            <li><a asp-controller="Home" asp-action="Help">Βοήθεια</a></li>
            @if (logged_in)
            {
                <li><a asp-controller="RegisteredUsers" asp-action="AccountInfo">Ο Λογαριασμός μου</a></li>
                <li><a asp-controller="Home" asp-action="Logout" class="btn">Έξοδος</a></li>
            }
            else
            {
                <li><a asp-controller="Home" asp-action="Login">O Λογαριασμός μου</a></li>
                <li><a asp-controller="Home" asp-action="Login" class="btn">Είσοδος</a></li>
            }
        </div>

            <script>
                // Change navbar color on scroll
                function changeBg() {
                    let navbar = document.getElementById('navbar');
                    let scrollValue = window.scrollY;

                    if (scrollValue < 150) {
                        navbar.classList.remove('bgColor');
                    }
                    else {
                        navbar.classList.add('bgColor');
                    }
                }

                window.addEventListener('scroll', changeBg);

                // Dropdown menu handling (responsive design)
                const toggleBtn = document.querySelector('.toggle-btn');
                const toggleBtnIcon = document.querySelector('.toggle-btn i');
                const dropdownMenu = document.querySelector('.dropdown-menu');

                toggleBtn.onclick = function () {
                    dropdownMenu.classList.toggle('open');
                    const isOpen = dropdownMenu.classList.contains('open');

                    toggleBtnIcon.classList = isOpen
                        ? 'fa fa-close'
                        : 'fa fa-bars';
                }
            </script>
        </div>


        <div class="unies-top-rated">
        <div class="titles">
            <div class="titles-inside">
                <h1>Top <span>Rated</span> Πανεπιστήμια</h1>
                <div class="first">
                    <div class="number"><h2><span>#1</span></h2></div>
                    <h3>@Model.Universities.FirstOrDefault().University.Name</h3>
                </div>
            </div>
        </div>

        <div class="content">
            @for(int i = 0;i < Model.Universities.Count(); i++)
            {
                <div class="frame">
                    <div class="frame-number"><h2><span>#@(i+1)</span></h2></div>
                    <div>
                        <a asp-action="UniResults" asp-route-Id="@Model.Universities.ElementAt(i).University.Id"><h3>@Model.Universities.ElementAt(i).University.Name</h3></a>
                        <p>@Model.Universities.ElementAt(i).Rating <i class="fa fa-star"></i> - @Model.Universities.ElementAt(i).ReviewCount Κριτικές</p>
                    </div>
                </div>
            }
        </div>
        </div>

        


        <div class="deps-top-rated">
        <div class="content-deps">
            @for(int i = 0;i < Model.Departments.Count(); i++)
            {
                <div class="frame-deps">
                    <div class="frame-number"><h2><span>#@(i+1)</span></h2></div>
                    <div>
                        <a asp-action="DepResults" asp-route-Id="@Model.Departments.ElementAt(i).Department.Id"><h3>@Model.Departments.ElementAt(i).Department.Name - @Model.Departments.ElementAt(i).Department.university.Name</h3></a>
                        <p>@Model.Departments.ElementAt(i).Rating <i class="fa fa-star"></i> - @Model.Departments.ElementAt(i).ReviewCount Κριτικές</p>
                    </div>
                </div>
            }
        </div>

        <div class="titles-deps">
            <div class="titles-inside-deps">
                <h1>Top <span>Rated</span> Tμήματα</h1>
                <div class="first-deps">
                    <div class="number-deps"><h2><span>#1</span></h2></div>
                    <h3>
                        @Model.Departments.FirstOrDefault().Department.Name - @Model.Departments.FirstOrDefault().Department.university.Name
                    </h3>
                </div>
            </div>
        </div>
        </div>


        <footer>
            <p><i class="fa fa-copyright"></i>   Uni<span>Rate</span></p>
            <p>
            Το UniRate είναι μια διαδικτυακή εφαρμογή που αναπτύχθηκε απο τους φοιτητές του Πανεπιστημίου
            Πειραιώς και πρόκειται για ένα χώρο αναζήτησης και διαμοιρασμού πληροφοριών για τα ελληνικά πανεπιστήμια και τμήματα.
            Είναι δηλαδή μια εφαρμογή απο φοιτητές προς υποψήφιους φοιτητές! Επιπλέον, η γνώμη σου είναι σημαντική για εμάς, οπότε
            μπορείς πάντα να μας βρείς στο GitHub ή να μας στείλεις mail:
            </p>
            <div class="social">
                <a href="https://github.com/aboublini"><i class="fa fa-github"></i></a>
                <a href="https://github.com/marata13"><i class="fa fa-github"></i></a>
                <a href="mailto:aboublini@gmail.com"><i class="fa fa-envelope"></i></a>
                <a href="mailto:ioakeim13@hotmail.gr"><i class="fa fa-envelope"></i></a>
            </div>
            <p class="end"><i class="fa fa-copyright"></i> 2023 All Right Reserved</p>
        </footer>
    </body>