@model UniRate.Models.UniResultsModel

<!-- Stylesheet connection for Search page -->
@section Styles {
    <link rel="stylesheet" href="~/css/UniResultsStyle.css" />
    <link rel="stylesheet" href="~/css/NavbarStyle.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
}

<body>
    <div class="hero">
        <img src="@Url.Content("~/visual-material/papei.png")" class="back-image">
        
        @{
            bool logged_in = ViewBag.LoggedIn; // Set this variable to true if user is logged in, if else set it to false
            bool is_favorite_uni = ViewBag.IsFavoriteUni; // Set this variable to true if user has this university favorited

            // For every uni these values will be retrieved from the DB
            int schools = 3;
            int actions = 4;
            int location = 4;
            int accesibility = 3;
            int organizaton = 4;

            float stars = (schools + actions + location + accesibility + organizaton) / 5;
        }
        <nav class="navbar" id="navbar">
            <h2 class="logo"><img src="@Url.Content("~/visual-material/uniRateLogo.png")" class="icon-logo"> Uni<span>Rate</span></h2>
            <ul class="navbar-links">
                <li><a asp-controller="Home" asp-action="HomePage">Αρχική</a></li>
                <li><a asp-controller="Home" asp-action="Unies">Πανεπιστήμια</a></li>
                <li><a asp-controller="Home" asp-action="TopRated">Top Rated</a></li>
                @if (logged_in)
                {
                    <li><a asp-controller="RegisteredUsers" asp-action="FavoritesRegistered">Αγαπημένα</a></li>
                }
                else
                {
                    <li><a asp-controller="Home" asp-action="Login">Αγαπημένα</a></li>
                }
                <li><a asp-controller="Home" asp-action="Help">Βοήθεια</a></li>
                @if (logged_in)
                {
                    <li><a asp-controller="RegisteredUsers" asp-action="AccountInfo">Ο Λογαριασμός μου</a></li>
                }
                else
                {
                    <li><a asp-controller="Home" asp-action="Login">Ο Λογαριασμός μου</a></li>
                }
            </ul>


            @if (logged_in)
            {
                <a asp-controller="Home" asp-action="Logout" class="btn">Έξοδος</a>
            }
            else
            {
                <a asp-controller="Home" asp-action="Login" class="btn">Είσοδος</a>
            }
            <div class="toggle-btn">
                <i class="fa fa-bars"></i>
            </div>
        </nav>


        <div class="dropdown-menu">
            <li><a asp-controller="Home" asp-action="HomePage">Αρχική</a></li>
            <li><a asp-controller="Home" asp-action="Unies">Πανεπιστήμια</a></li>
            <li><a asp-controller="Home" asp-action="TopRated">Top Rated</a></li>
            @if (logged_in)
            {
                <li><a asp-controller="RegisteredUsers" asp-action="FavoritesRegistered">Αγαπημένα</a></li>
            }
            else
            {
                <li><a asp-controller="Home" asp-action="Login">Αγαπημένα</a></li>
            }
            <li><a asp-controller="Home" asp-action="Help">Βοήθεια</a></li>
            @if (logged_in)
            {
                <li><a asp-controller="RegisteredUsers" asp-action="AccountInfo">Ο Λογαριασμός μου</a></li>
                <li><a asp-controller="Home" asp-action="Logout" class="btn">Έξοδος</a></li>
            }
            else
            {
                <li><a asp-controller="Home" asp-action="Login" class="btn">O Λογαριασμός μου</a></li>
                <li><a asp-controller="Home" asp-action="Login" class="btn">Είσοδος</a></li>
            }
        </div>

        <script>
            // Change navbar color on scroll
            function changeBg() {
                let navbar = document.getElementById('navbar');
                let scrollValue = window.scrollY;

                if (scrollValue < 150) {
                    navbar.classList.remove('bgColor');
                }
                else {
                    navbar.classList.add('bgColor');
                }
            }

            window.addEventListener('scroll', changeBg);

            // Dropdown menu handling (responsive design)
            const toggleBtn = document.querySelector('.toggle-btn');
            const toggleBtnIcon = document.querySelector('.toggle-btn i');
            const dropdownMenu = document.querySelector('.dropdown-menu');

            toggleBtn.onclick = function () {
                dropdownMenu.classList.toggle('open');
                const isOpen = dropdownMenu.classList.contains('open');

                toggleBtnIcon.classList = isOpen
                    ? 'fa fa-close'
                    : 'fa fa-bars';
            }
        </script>



        <div class="content">
            <h1>@Model.University.Name</h1>
            @if (logged_in)
            {
                if (is_favorite_uni) // Make heart blue
                {
                    <a a asp-controller="RegisteredUsers" asp-action="RemoveFavoriteUni" asp-route-Id="@Model.University.Id">
                        <i class="fa fa-heart" style="color: #11668D;"></i>
                    </a>
                }
                else // Heart is grey
                {
                    <a a asp-controller="RegisteredUsers" asp-action="AddFavoriteUni" asp-route-Id="@Model.University.Id">
                        <i class="fa fa-heart" style="color: grey;"></i>
                    </a>
                }
                
            } 
        </div>
    </div>

    <script>
        // JS code for changing heart's color onclick event

        const heart = document.getElementById('heart-icon');
        let isFavorite = @(is_favorite_uni ? "true" : "false");

        heart.onclick = function () {
            if (isFavorite) 
            {
                // If uni is in favorites remove it from favorites
                heart.style.color = 'grey';
                isFavorite = false;
                @{is_favorite_uni = false;}
            }
            else 
            {
                // If uni is not in favorites add it to favorites
                heart.style.color = '#11668D';
                isFavorite = true;
                @{is_favorite_uni = true;}
             }
        }
    </script>


    <div class="uni-basics">

        <div class="uni-info">
            <div class="title">
                <h2>@Model.University.Name</h2>
                <img class="uni-logo" src="@Model.University.LogoUrl">
            </div>
            <div class="info-section">
                <h3>Πρύτανης:</h3>
                <h3>@Model.University.Dean</h3>
            </div>
            <div class="info-section">
                <h3>Τοποθεσία:</h3>
                <h3>@Model.University.Location</h3>
            </div>
            <div class="info-section">
                <h3>Διεύθυνση:</h3>
                <h3>@Model.University.Address</h3>
            </div>
            <div class="info-section">
                <h3>Ιστοσελίδα:</h3>
                <h3>@Model.University.SiteUrl</h3>
            </div>

        </div>

        <div class="uni-rankings">
            <div class="title">
                <h2>@stars <i class="fa fa-star" style="color: #11668D;"></i> - 52 αξιολογήσεις</h2>

                <div class="total-stars">
                   @{
                        for (int i = 1; i <= 5; i++)
                        {
                            if (i <= stars)
                            {
                                <i class="fa fa-star" style="color: #11668D;"></i>
                            }
                            else
                            {
                                <i class="fa fa-star" style="color: grey;"></i>
                            }
                        }
                    }
                </div>

            </div>

            <div class="rank">
                <h3>Σχολές</h3>
                <div class="stars">
                    @{
                        for (int i = 1; i <= 5; i++)
                        {
                            if (i <= schools)
                            {
                                <i class="fa fa-star" style="color: #11668D;"></i>
                            }
                            else
                            {
                                <i class="fa fa-star" style="color: grey;"></i>
                            }
                        }
                    }
                </div>
            </div>

            <div class="rank">
                <h3>Δράσεις</h3>
                <div class="stars">
                    @{
                        for (int i = 1; i <= 5; i++)
                        {
                            if (i <= actions)
                            {
                                <i class="fa fa-star" style="color: #11668D;"></i>
                            }
                            else
                            {
                                <i class="fa fa-star" style="color: grey;"></i>
                            }
                        }
                    }
                </div>
            </div>

            <div class="rank">
                <h3>Τοποθεσία</h3>
                <div class="stars">
                    @{
                        for (int i = 1; i <= 5; i++)
                        {
                            if (i <= location)
                            {
                                <i class="fa fa-star" style="color: #11668D;"></i>
                            }
                            else
                            {
                                <i class="fa fa-star" style="color: grey;"></i>
                            }
                        }
                    }
                </div>
            </div>

            <div class="rank">
                <h3>Προσβασιμότητα</h3>
                <div class="stars">
                    @{
                        for (int i = 1; i <= 5; i++)
                        {
                            if (i <= accesibility)
                            {
                                <i class="fa fa-star" style="color: #11668D;"></i>
                            }
                            else
                            {
                                <i class="fa fa-star" style="color: grey;"></i>
                            }
                        }
                    }
                </div>
            </div>

            <div class="rank">
                <h3>Οργάνωση</h3>
                <div class="stars">
                    @{
                        for (int i = 1; i <= 5; i++)
                        {
                            if (i <= organizaton)
                            {
                                <i class="fa fa-star" style="color: #11668D;"></i>
                            }
                            else
                            {
                                <i class="fa fa-star" style="color: grey;"></i>
                            }
                        }
                    }
                </div>
            </div>
        </div>
    </div>


    <div class="uni-basics-more">

        <div class="uni-deps">
            <div class="title">
                <h2>Σχολές και τμήματα</h2>
            </div>
            @foreach (var school in Model.DepartmentsBySchool)
            {
                <div class="deps-section">
                    <h3>@school.Key</h3>
                    <ul class="deps-names">
                        @foreach(var dep in school)
                        {
                            <li>@dep.Name</li>
                        }
                    </ul>
                </div>
                <hr>
            }
        </div>

        <div class="uni-map">
            <div class="title">
                <h2>Χάρτης</h2>
            </div>
            <iframe src="@Model.University.LocationUrl"
                    width="100%"
                    height="88%"
                    style="border:0; border-radius: 25px;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade">
            </iframe>
        </div>
    </div>

    <div class="reviews">

        <div class="reviews-cont">
            <div class="title">
                <h2>Κριτικές</h2>
            </div>

            <div class="rev">
                @if (Model.University.Ratings != null)
                {
                    @foreach (var rating in Model.University.Ratings)
                    {
                        <div class="scroll">
                            <div class="who">
                                <a><i class="fa fa-user"></i></a>
                                <div>
                                    <h3>@rating.User.UserName</h3>
                                    <p>@rating.DateTime</p>
                                    <p><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i></p>
                                </div>
                            </div>
                            <div class="txt">
                                <p>
                                    @rating.Review
                                </p>
                            </div>
                        </div>
                        <hr>
                    }
                }
                else
                {
                    <div class="txt">
                        <p>
                            No reviews can be found
                        </p>
                    </div>
                }

            </div>


            @if (logged_in)
            {
                <div class="add-rev">
                    <button class="add-rev-btn"><i class="fa fa-plus"></i></button>
                </div>
            }

        </div>

        <div class="contact">
            <div class="title">
                <h2>Επικοινωνία</h2>
            </div>

            <div class="contact-section">
                <h3>Τηλέφωνο:</h3>
                <h4>@Model.University.Phone</h4>
            </div>
            <div class="contact-section">
                <h3>Διεύθυνση:</h3>
                <h4>@Model.University.Address, @Model.University.Location</h4>
            </div>
            <div class="contact-section">
                <h3>Φόρμα Επικοινωνίας:</h3>
                <h4>Πατήστε <a href="@Model.University.ContactUrl">εδώ</a></h4>
            </div>

        </div>
    </div>




    <footer>
        <p><i class="fa fa-copyright"></i>   Uni<span>Rate</span></p>
        <p>
            Το UniRate αποτελεί την εργασία εξαμήνου μας για το μάθημα "Πληροφοριακά
            Συστήματα στο Διαδίκτυο". Μπορείς να μας βρείς στο GitHub ή να μας στείλεις mail:
        </p>
        <div class="social">
            <a href="https://github.com/aboublini"><i class="fa fa-github"></i></a>
            <a href="https://github.com/marata13"><i class="fa fa-github"></i></a>
            <a href="mailto:aboublini@gmail.com"><i class="fa fa-envelope"></i></a>
            <a href="mailto:ioakeim13@hotmail.gr"><i class="fa fa-envelope"></i></a>
        </div>
        <p class="end"><i class="fa fa-copyright"></i> 2023 All Right Reserved</p>
    </footer>

    <!-- Alert in case something went wrong -->
    @if (ViewBag.errorMessage != null)
    {
        <script type="text/javascript">
            alert("@ViewBag.errorMessage");
        </script>
    }

</body>