@model UniRate.Models.University

<!-- Stylesheet connection for Search page -->
@section Styles {
    <link rel="stylesheet" href="~/css/UniResultsStyle.css" />
    <link rel="stylesheet" href="~/css/NavbarStyle.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
}

<body>
    <div class="hero">
        <img src="@Url.Content("~/visual-material/papei.png")" class="back-image">
        
        @{
            bool logged_in = ViewBag.LoggedIn; // Set this variable to true if user is logged in, if else set it to false
            bool is_favorite_uni = ViewBag.IsFavoriteUni; // Set this variable to true if user has this university favorited
        }
        <nav class="navbar" id="navbar">
            <h2 class="logo"><img src="@Url.Content("~/visual-material/uniRateLogo.png")" class="icon-logo"> Uni<span>Rate</span></h2>
            <ul class="navbar-links">
                <li><a asp-controller="Home" asp-action="HomePage">Αρχική</a></li>
                <li><a asp-controller="Home" asp-action="Unies">Πανεπιστήμια</a></li>
                <li><a asp-controller="Home" asp-action="TopRated">Top Rated</a></li>
                @if (logged_in)
                {
                    <li><a asp-controller="RegisteredUsers" asp-action="FavoritesRegistered">Αγαπημένα</a></li>
                }
                else
                {
                    <li><a asp-controller="Home" asp-action="Login">Αγαπημένα</a></li>
                }
                <li><a asp-controller="Home" asp-action="Help">Βοήθεια</a></li>
                @if (logged_in)
                {
                    <li><a asp-controller="RegisteredUsers" asp-action="AccountInfo">Ο Λογαριασμός μου</a></li>
                }
                else
                {
                    <li><a asp-controller="Home" asp-action="Login">Ο Λογαριασμός μου</a></li>
                }
            </ul>


            @if (logged_in)
            {
                <a asp-controller="Home" asp-action="Logout" class="btn">Έξοδος</a>
            }
            else
            {
                <a asp-controller="Home" asp-action="Login" class="btn">Είσοδος</a>
            }
            <div class="toggle-btn">
                <i class="fa fa-bars"></i>
            </div>
        </nav>


        <div class="dropdown-menu">
            <li><a asp-controller="Home" asp-action="HomePage">Αρχική</a></li>
            <li><a asp-controller="Home" asp-action="Unies">Πανεπιστήμια</a></li>
            <li><a asp-controller="Home" asp-action="TopRated">Top Rated</a></li>
            @if (logged_in)
            {
                <li><a asp-controller="RegisteredUsers" asp-action="FavoritesRegistered">Αγαπημένα</a></li>
            }
            else
            {
                <li><a asp-controller="Home" asp-action="Login">Αγαπημένα</a></li>
            }
            <li><a asp-controller="Home" asp-action="Help">Βοήθεια</a></li>
            @if (logged_in)
            {
                <li><a asp-controller="RegisteredUsers" asp-action="AccountInfo">Ο Λογαριασμός μου</a></li>
                <li><a asp-controller="Home" asp-action="Logout" class="btn">Έξοδος</a></li>
            }
            else
            {
                <li><a asp-controller="Home" asp-action="Login" class="btn">O Λογαριασμός μου</a></li>
                <li><a asp-controller="Home" asp-action="Login" class="btn">Είσοδος</a></li>
            }
        </div>

        <script>
            // Change navbar color on scroll
            function changeBg() {
                let navbar = document.getElementById('navbar');
                let scrollValue = window.scrollY;

                if (scrollValue < 150) {
                    navbar.classList.remove('bgColor');
                }
                else {
                    navbar.classList.add('bgColor');
                }
            }

            window.addEventListener('scroll', changeBg);

            // Dropdown menu handling (responsive design)
            const toggleBtn = document.querySelector('.toggle-btn');
            const toggleBtnIcon = document.querySelector('.toggle-btn i');
            const dropdownMenu = document.querySelector('.dropdown-menu');

            toggleBtn.onclick = function () {
                dropdownMenu.classList.toggle('open');
                const isOpen = dropdownMenu.classList.contains('open');

                toggleBtnIcon.classList = isOpen
                    ? 'fa fa-close'
                    : 'fa fa-bars';
            }
        </script>



        <div class="content">
            <h1>@Model.Name</h1>
            @if (logged_in)
            {
                if (is_favorite_uni) // Make heart blue
                {
                    <i class="fa fa-heart" style="color: #11668D;"></i>
                }
                else // Heart is grey
                {
                    <i class="fa fa-heart" style="color: grey;"></i>
                }
                
            } 
        </div>
    </div>


    <div class="uni-basics">

        <div class="uni-info">
            <div class="title">
                <h2>@Model.Name</h2>
                <img class="uni-logo" src="@Model.LogoUrl">
            </div>
            <div class="info-section">
                <h3>Πρύτανης:</h3>
                <h3>@Model.Dean</h3>
            </div>
            <div class="info-section">
                <h3>Τοποθεσία:</h3>
                <h3>@Model.Location</h3>
            </div>
            <div class="info-section">
                <h3>Διεύθυνση:</h3>
                <h3>@Model.Address</h3>
            </div>
            <div class="info-section">
                <h3>Ιστοσελίδα:</h3>
                <h3>@Model.SiteUrl</h3>
            </div>

        </div>

        <div class="uni-rankings">
            <div class="title">
                <h2>4,88 - 52 αξιολογήσεις</h2>
                <div class="total-stars">
                    <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i>
                </div>

            </div>

            <div class="rank">
                <h3>Σχολές</h3>
                <div class="stars">
                    <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i>
                </div>
            </div>

            <div class="rank">
                <h3>Δράσεις</h3>
                <div class="stars">
                    <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i>
                </div>
            </div>

            <div class="rank">
                <h3>Τοποθεσία</h3>
                <div class="stars">
                    <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i>
                </div>
            </div>

            <div class="rank">
                <h3>Προσβασιμότητα</h3>
                <div class="stars">
                    <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i>
                </div>
            </div>

            <div class="rank">
                <h3>Οργάνωση</h3>
                <div class="stars">
                    <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i>
                </div>
            </div>
        </div>
    </div>


    <div class="uni-basics-more">

        <div class="uni-deps">
            <div class="title">
                <h2>Σχολές και τμήματα</h2>
            </div>
            <div class="deps-section">
                <h3>Σχολή Οικονομικών, Επιχειρηματικών και Διεθνών Σπουδών</h3>
                <ul class="deps-names">
                    <li>Τμήμα Οικονομικής Επιστήμης</li>
                    <li>Τμήμα Οργάνωσης και Διοίκησης Επιχειρήσεων</li>
                    <li>Τμήμα Διεθνών και Ευρωπαϊκών Σπουδών</li>
                    <li>Τμήμα Τουριστικών Σπουδών</li>
                </ul>
            </div>
            <hr>
            <div class="deps-section">
                <h3>Σχολή Ναυτιλίας και Βιομηχανίας</h3>
                <ul class="deps-names">
                    <li>Τμήμα Ναυτιλιακών Σπουδών</li>
                    <li>Τμήμα Βιομηχανικής Διοίκησης και Τεχνολογίας</li>
                </ul>
            </div>
            <hr>
            <div class="deps-section">
                <h3>Σχολή Χρηματοοικονομικής και Στατιστικής</h3>
                <ul class="deps-names">
                    <li>Τμήμα Χρηματοοικονομικής και Τραπεζικής Διοικητικής</li>
                    <li>Τμήμα Στατιστικής και Ασφαλιστικής Επιστήμης</li>
                </ul>
            </div>
            <hr>
            <div class="deps-section">
                <h3>Σχολή Τεχνολογιών Πληροφορικής και Επικοινωνιών</h3>
                <ul class="deps-names">
                    <li>Τμήμα Πληροφορικής</li>
                    <li>Τμήμα Ψηφιακών Συστημάτων</li>
                </ul>
            </div>
        </div>

        <div class="uni-map">
            <div class="title">
                <h2>Χάρτης</h2>
            </div>
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3146.525340258017!2d23.650293176368773!3d37.94151790253674!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x14a1bbe5bb8515a1%3A0x3e0dce8e58812705!2zzqDOsc69zrXPgM65z4PPhM6uzrzOuc6_IM6gzrXOuc-BzrHOuc-Oz4I!5e0!3m2!1sel!2sgr!4v1682510205416!5m2!1sel!2sgr"
                    width="100%"
                    height="88%"
                    style="border:0; border-radius: 25px;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade">
            </iframe>
        </div>
    </div>

    <div class="reviews">

        <div class="reviews-cont">
            <div class="title">
                <h2>Κριτικές</h2>
            </div>

            <div class="rev">

                <div class="scroll">
                    <div class="who">
                        <a><i class="fa fa-user"></i></a>
                        <div>
                            <h3>aboublini</h3>
                            <p>2 months ago</p>
                            <p><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i></p>
                        </div>
                    </div>
                    <div class="txt">
                        <p>
                            Το Πανεπιστήμιο Πειραιώς αριθμεί 80 συνεχή έτη λειτουργίας.
                            Ο χώρος είναι κάπως παλιός, ωστόσο είναι καλά συντηρημενος.
                            Υπάρχουνε τόσο αίθουσες όσο και αμφιθέατρα όπου μπορούν και
                            διεξάγονται μαθήματα και διάφοροι τύποι εκδηλώσεων εντός του
                            Πανεπιστημίου!
                        </p>
                    </div>
                </div>
                <hr>

                <div class="scroll">
                    <div class="who">
                        <a><i class="fa fa-user"></i></a>
                        <div>
                            <h3>aboublini</h3>
                            <p>2 months ago</p>
                            <p><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i></p>
                        </div>
                    </div>
                    <div class="txt">
                        <p>
                            Το Πανεπιστήμιο Πειραιώς αριθμεί 80 συνεχή έτη λειτουργίας.
                            Ο χώρος είναι κάπως παλιός, ωστόσο είναι καλά συντηρημενος.
                            Υπάρχουνε τόσο αίθουσες όσο και αμφιθέατρα όπου μπορούν και
                            διεξάγονται μαθήματα και διάφοροι τύποι εκδηλώσεων εντός του
                            Πανεπιστημίου!
                        </p>
                    </div>
                </div>
                <hr>

                <div class="scroll">
                    <div class="who">
                        <a><i class="fa fa-user"></i></a>
                        <div>
                            <h3>aboublini</h3>
                            <p>2 months ago</p>
                            <p><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i></p>
                        </div>
                    </div>
                    <div class="txt">
                        <p>
                            Το Πανεπιστήμιο Πειραιώς αριθμεί 80 συνεχή έτη λειτουργίας.
                            Ο χώρος είναι κάπως παλιός, ωστόσο είναι καλά συντηρημενος.
                            Υπάρχουνε τόσο αίθουσες όσο και αμφιθέατρα όπου μπορούν και
                            διεξάγονται μαθήματα και διάφοροι τύποι εκδηλώσεων εντός του
                            Πανεπιστημίου!
                        </p>
                    </div>
                </div>

            </div>


            @if (logged_in)
            {
                <div class="add-rev">
                    <button class="add-rev-btn"><i class="fa fa-plus"></i></button>
                </div>
            }

        </div>

        <div class="contact">
            <div class="title">
                <h2>Επικοινωνία</h2>
            </div>

            <div class="contact-section">
                <h3>Τηλέφωνο:</h3>
                <h4>@Model.Phone</h4>
            </div>
            <div class="contact-section">
                <h3>Διεύθυνση:</h3>
                <h4>@Model.Address, @Model.Location</h4>
            </div>
            <div class="contact-section">
                <h3>Φόρμα Επικοινωνίας:</h3>
                <h4>Πατήστε <a href="@Model.ContactUrl">εδώ</a></h4>
            </div>

        </div>
    </div>




    <footer>
        <p><i class="fa fa-copyright"></i>   Uni<span>Rate</span></p>
        <p>
            Το UniRate αποτελεί την εργασία εξαμήνου μας για το μάθημα "Πληροφοριακά
            Συστήματα στο Διαδίκτυο". Μπορείς να μας βρείς στο GitHub ή να μας στείλεις mail:
        </p>
        <div class="social">
            <a href="https://github.com/aboublini"><i class="fa fa-github"></i></a>
            <a href="https://github.com/marata13"><i class="fa fa-github"></i></a>
            <a href="mailto:aboublini@gmail.com"><i class="fa fa-envelope"></i></a>
            <a href="mailto:ioakeim13@hotmail.gr"><i class="fa fa-envelope"></i></a>
        </div>
        <p class="end"><i class="fa fa-copyright"></i> 2023 All Right Reserved</p>
    </footer>

    <!-- Alert in case something went wrong -->
    @if (ViewBag.errorMessage != null)
    {
        <script type="text/javascript">
            alert("@ViewBag.errorMessage");
        </script>
    }

</body>