@model UniRate.Models.UniRating

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>UniRating</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SchoolRating)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SchoolRating)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ActionsRating)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ActionsRating)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Locationrating)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Locationrating)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AccessabilityRating)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AccessabilityRating)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OrganisationRating)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OrganisationRating)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OverallRating)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OverallRating)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Review)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Review)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DateTime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DateTime)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
